@CHARSET "UTF-8";
body {
    font-weight: 400;
}

.alert {
    transition: 1s linear all;
    opacity: 1;
}

.alert.ng-hide {
    opacity: 0;
}

.alert.ng-show {
    opacity: 1;
}

.bs-docs-header {
    box-sizing: border-box;
    color: rgb(129, 181, 221);
    height: 165px;
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 0;
    perspective-origin: 951px 128px;
    transform-origin: 951px 128px;
    background-color: #FFE29D;
    border: 0 none rgb(205, 191, 227);
    font: normal normal normal normal 24px/34px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0 0 6px;
    outline: rgb(205, 191, 227) none 0;
    padding: 0 15px;
}

.second-header {
    box-sizing: border-box;
    height: 16px;
    position: relative;
    perspective-origin: 951px 128px;
    transform-origin: 951px 128px;
    background-color: #253939;
    border: 0 none rgb(205, 191, 227);
    margin: 0 0 10px;
    outline: rgb(205, 191, 227) none 0;
    padding: 0 15px;
}

.bs-docs-header .header {
    background: url(../img/Increase.png) no-repeat left;
    box-sizing: border-box;
    margin-left: 0;
    height: 121px;
}

.bs-docs-header h1 {
    color: #253939;
    height: 45px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
    border: 0 none rgb(255, 255, 255);
    font-variant: small-caps;
    outline: rgb(255, 255, 255) none 0;
    padding-left: 140px;
    padding-top: 25px;
}

.bs-docs-header p {
    color: #253939;
    font-weight: 200;
    font-size: 18px;
    font-stretch: ultra-expanded;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.24);
    font-variant: small-caps;
    padding-left: 140px;
}

.msg-object {
    color: #3036b6;
}

.msg-author {
    font-size: 0.8em;
}

.msg-date {
    float: right;
    font-size: 0.8em;
}

.msg {
    margin-top: 15px;
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
}

#usecases-panel .progress {
    margin-bottom: 0;
}